# ansible
*.retry
__remote_*

# chef / vagrant
*.vagrant
*.lock
*.host_vars
TODO
*~

# mac
*.DS_Store*

# terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate*
*.tfstate.backup
*.tfstate.*.backup
*.swp
playbook.zip
